<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript">
            var next = '{{ next }}',
                $window = $(window),
                width = $window.width(),
                height = $window.height();
            if (!next.endsWith('&')){
                next += '&';
            } else {
                next += '?';
            }
            window.location = next + 'w=' + width + '&h=' + height;
        </script>
    </head>
    <body>

    </body>
</html>